.header{
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #224d85;
    position:sticky;
    top:0;
    z-index: 100;
    /* font-family: sans-serif; */
}
.header_logo{
    object-fit: contain;
    margin: 0 20px;
    /* margin-top: 18px; */
    color: white;
    font-weight: bold;
    font-size: x-large;
}
.header_search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border:none;
    width:100%;
    border-radius: 5px;
}
.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
    border-radius: 5px;
}
.header_optionLineOne{
    font-size: 10px;

}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800px;

}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;

}
.header_optionBasket{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 20px;
    margin-left: 10px;
}
.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}